<div class="wrap">
  <%= paginate(@cities) %>
</div>


  <% @cities.each do |city| %>
    <div class="product">
      <div class="overlay">
        <h4>Songs about <%= city.name %></h4>
        <p class="artist">(we have <%= city.songs.count %>)</p>
        <!-- <p class="city"></p> -->
      </div>
      <img src="https://unsplash.it/640/640/?random">
    </div>
  <% end %>
</div>
<div class="wrap">
  <%= paginate(@cities) %>
</div>
